*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex ;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.main-container{
  display: flex;
  flex-direction: column;
  width: 500px;
  max-width: 500px;

  border: 2px solid #000;
  border-radius: 24px;
  padding: 50px;
  gap: 20px;
}

select{
  padding: 3px 10px;
}

.btn{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
